<div class="infos-client">
    <div>
        <div>Siret : </div>
        <div><strong id="data-siret">&nbsp;</strong></div>
        <div>Type de compteur : </div>
        <div><strong id="data-type">&nbsp;</strong></div>
    </div>
    <div>
        <div>Contrat : </div>
        <div><strong id="data-contrat">&nbsp;</strong></div>
        <div>Disponibilité contractuelle : </div>
        <div><strong id="data-dispo">&nbsp;</strong></div>
    </div>
</div>