<h2>Consommation mensuelle 2020 <sub>(en Kwh)<sub></h2>
<div id="conso" class="table">
    <header>
        <div>Janvier</div>
        <div>Février</div>
        <div>Mars</div>
        <div>Avril</div>
        <div>Mai</div>
        <div>Juin</div>
        <div>Juillet</div>
        <div>Aout</div>
        <div>Septembre</div>
        <div>Octobre</div>
        <div>Novembre</div>
        <div>Décembre</div>
    </header>
    <div id="data-conso">
        &nbsp;
    </div>
</div>