<!DOCTYPE html>
<html lang="fr">
<head>
  <title>
    {% block title %}{% endblock %}
  </title>
  {% block head %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% endblock %}
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script> 
</head>
<body>
    {% block header %}
      {% include "./components/header.twig" %}
    {% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block javascript %}
      <script src="./src/assets/js/app.js"></script>
    {% endblock %}
    
</body>
</html>