//----------------------------------
// Colors Variables
//----------------------------------

//Basic colors
$color-primary : rgba(52, 197, 241, 1);
$color-secondary : rgba(229, 0, 168, 1);
$color-light : rgba(245, 245, 250, 1);

//header colors
$color-header: rgba(238, 238, 238, 1);

//Text Colors
$color-text: rgba(20, 20, 20, 1);

//Border Colors
$color-border-table: rgba(245, 245, 250, 1);